*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #171717;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container{
    border: 2px solid #ffffff;
    display: flex;
    border-radius: 10px;
}
.left-section{
    width: 40%;
    border-right: 2px solid #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.left-section h1{
    font-size: 5rem;
}
.right-section{
    width: 60%;
    padding: 2rem;
}
.right-section label,input{
    margin: 1rem 0;
}
.right-section label{
    font-size: 1.5rem;
}
.right-section input{
    width: 350px;
    height: 50px;
    background-color:transparent;
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.bottom-wrapper button{
    font-size: 1.5rem;
    padding: 0.2rem 1.5rem;
    background-color: transparent;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    margin: 1rem 0;
}
.bottom-wrapper button:hover{
    cursor: pointer;
}
.bottom-wrapper p a{
    color: skyblue;
}

/* * Media Queries */
@media only screen and (max-width: 600px){
    .container{
    flex-direction: column;
}
.left-section{
    width: 100%;
    border-bottom: 2px solid #ffffff;
    border-right: 0;
    padding: 0.5rem;
}
.left-section h1{
    font-size: 2rem;
}
.left-section h1 br{
    display: none;
}
.right-section{
    width: 100%;
    padding: 1.2rem;
}
.right-section label{
    font-size: 1rem;
}
.right-section input{
    width: 260px;
    height: 40px;
}
.bottom-wrapper button{
    font-size: 1rem;
    padding: 0.2rem 1.2rem;
}
}
@media only screen and (min-width: 601px) and (max-width:767px){
      .container{
    flex-direction: column;
}
.left-section{
    width: 100%;
    border-bottom: 2px solid #ffffff;
    border-right: 0;
    padding: 0.5rem;
}
.left-section h1{
    font-size: 2rem;
}
.left-section h1 br{
    display: none;
}
.right-section{
    width: 100%;
    padding: 1.2rem;
}
.right-section label{
    font-size: 1rem;
}
.right-section input{
    width: 260px;
    height: 40px;
}
.bottom-wrapper button{
    font-size: 1rem;
    padding: 0.2rem 1.2rem;
}
}